@font-face {
  font-family: "Lato";
  src: local("Lato"),
   url(./fonts/Lato-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
   url(./fonts/Montserrat-Regular.ttf) format("truetype");
}

* {
  font-family: Lato, sans-serif;
}